.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    font-weight: normal;
    font-size: 1.4em;
    background: #e0e1e6;
    color: #888;
    flex: 1;
    outline: 1px solid #888;
    cursor: pointer;
}

.button:hover {
    background: #cdcdce;
}

.operator {
    background: #fe9241;
    color: #fff;
}

.operator:hover {
    background: #f0802a;
}
